/* Write your custom CSS here */

html, body {
    height: 100%;
    width: 100%;
}

.text-danger {
    margin-left: 3rem;
    font-size: 13px;
    color: #f44336 !important;
}

    .text-danger * {
        color: #f44336 !important;
    }