<div class="col s12">
    <div class="col s6">
        <label for="">Content layout</label>
        <select class="browser-default" id="combobox_layout">
            <option value="disabled" disabled="" selected>Choose your content layout</option>
            <option value="text2" data-range="5" data-button="0">Layout 1</option>
            <option value="text3" data-range="6" data-button="1">Layout 2</option>
            <option value="text4" data-range="4" data-button="1">Layout 3</option>
        </select>
    </div>
</div>

<div id="selected_type" class="row">

</div>